<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/interface.min.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="panel header"><img src="/img/logo.png" /></div>
      <div class="panel main">
        <div class="panel" id="octavebuttons"></div>
        <div class="panel" id="sequencer"></div>
      </div>
      <div class="panel knobs">
        <div class="panel" id="instruments"></div>
        <div class="panel" id="adsr"></div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://zeptojs.com/zepto.min.js"></script>
    <script src="/js/sockets.js"></script>
  </body>
</html>