<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/interface.min.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><b><%= title %></b></h1>

    <!-- <form action="">
      <input id="note" type="number" min="0" max="127" autocomplete="off" />
      <button>Send</button>
    </form> -->
    <div id="sequencer"></div>
    <div id="velocities"></div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="https://zeptojs.com/zepto.min.js"></script>
    <script src="/js/sockets.js"></script>
  </body>
</html>