<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/js/interface.min.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="header"><img src="/img/logo.png" /></div>
    <div class="container">
      <div id="mainpanel">
        <div id="octavebuttons"></div>
        <div id="sequencer"></div>
      </div>
      <div id="knobs">
        <div id="instruments"></div>
        <div id="instrumentsettings">
          <div class="instpanel" id="oscsettings"></div>
          <div class="instpanel" id="amsettings"></div>
          <div class="instpanel" id="fmsettings"></div>
          <div class="instpanel" id="subsettings"></div>
          <div class="instpanel" id="plucksettings"></div>
        </div>
        <div id="adsr"></div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://zeptojs.com/zepto.min.js"></script>
    <script src="/js/sockets.js"></script>
  </body>
</html>
