* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #000;
}

.container,
.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 95%;
}

.main,
.knobs {
  display: flex;
  flex-direction: column;
}

.header {
  height: 5%;
}

.main {
  height: 70%
}

#octavebuttons {
  height: 5%;
}

#sequencer {
  height: 95%;
}

.knobs {
  height: 25%;
}

#adsr,
#instruments {
  height: 50%
}


/*@media only screen and (max-width: 767px) {
  body {
    background-color: #222222;
  }
}*/

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .panel {
    width: 85%
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    width: 50%;
    height: 90%;
  }

  .knobs {
    width: 50%;
    height: 30%;
  }

}